TestMavenWebService/src/main/resources/WSDL/TestTemperature.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test" xmlns:intf="http://test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTheTemperature">
    <complexType>
     <sequence>
      <element name="city" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTheTemperatureResponse">
    <complexType>
     <sequence>
      <element name="getTheTemperatureReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTheTemperatureResponse">

      <wsdl:part element="impl:getTheTemperatureResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTheTemperatureRequest">

      <wsdl:part element="impl:getTheTemperature" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestTemperature">

      <wsdl:operation name="getTheTemperature">

         <wsdl:input message="impl:getTheTemperatureRequest" name="getTheTemperatureRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTheTemperatureResponse" name="getTheTemperatureResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestTemperatureSoapBinding" type="impl:TestTemperature">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTheTemperature">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTheTemperatureRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTheTemperatureResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestTemperatureService">

      <wsdl:port binding="impl:TestTemperatureSoapBinding" name="TestTemperature">

         <wsdlsoap:address location="http://localhost:8080/TestWebService/services/TestTemperature"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
